{% extends "adminhome.html" %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Route</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Route Management</h2>
                <form action="/myapp/admin_edit_route_post/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="strating">Strating</label>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <input type="text" class="form-control" name="strating" id="strating" placeholder="Enter your straing point" value="{{ data.strating }}" required>
                    </div>
                    <div class="form-group">
                        <label for="destination">Destination</label>
                        <input type="text" class="form-control" name="destination" id="destination" placeholder="Enter your Destination" value="{{ data.destination}}" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}